@import "node_modules/uikit/src/scss/variables-theme.scss";
@import "node_modules/uikit/src/scss/mixins-theme.scss";
@import 'fonts';

* {
	box-sizing: border-box;
	font-size: $global-font-size;
	font-family: $global-font-family;
	color: $global-color;
}

.container {
	margin-top: 30px;
}

.title {
	@include title();
}

.nav-link {
margin: 24px 0;
}

.link-button {
	padding: 18px 42px;
	border: 2px solid  $global-color;
	text-align: center;
	a {
		font-family: $title-font; 
		text-transform: uppercase;
		font-weight: bold;
	}
}

.text {
	margin-bottom: 160px;
}
.uk-card {
	margin-top: 130px;
	margin-left: 160px;
	&.uk-flex-last\@s, 
	.uk-card-body {
		width: 100%;
	  	height: 100%;
	}
 }


 .uk-position-relative.uk-light[uk-slideshow] {
	width: 100%;
	height: 100%;
	margin-left: 40px;
 
	ul.uk-slideshow-items {
	  width: 100%;
	  height: 100%;
 
	  li {
		 width: 100%;
		 height: 100%;
 
		 img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		 }
	  }
	}
 }
 
 
 @media (min-width: 768px) {
	.uk-flex-last\@s {
	  height: 100%;
	}
 }
 
 
 
 
 